<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="GitHub" value="https://nuget.pkg.github.com/bigbadjock/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="UserName" value="bigbadjock"/>
      <add key="ClearTextPassword" value="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"/>
    </GitHub>
  </packageSourceCredentials>
</configuration>