<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="github" value="https://nuget.pkg.github.com/bigbadjock/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="UserName" value="bigbadjock"/>
      <add key="ClearTextPassword" value="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"/>
    </github>
  </packageSourceCredentials>
</configuration>